@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-[#050712] text-slate-50 antialiased;
}

*::-webkit-scrollbar {
  width: 6px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.4);
  border-radius: 9999px;
}

.custom-scroll::-webkit-scrollbar {
  width: 4px;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(148, 163, 184, 0.4);
}

